@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --animate-spin-slow: spin 3s linear infinite;
  --animate-progress-fast: progress 1.5s ease-in-out infinite;

  @keyframes progress {
    0% { transform: translateX(-100%); }
    50% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }
}

body {
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #000;
  color: #fff;
}

